/*  your css code here. If applicable */
body{
	background-color: #111;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.container{
	display: grid;
	grid-template-columns: repeat(40, 1fr);
	gap: 2px;
}

.square{
	width: 20px;
	height: 20px;
	background-color: '#1d1d1d';
	transition: background-color 1s ease;
}
